@(creationForm:Form[ProposalController.CreationProposalPayLoad])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }



@main("create proposal") {




@helper.form(action = routes.ProposalController.handleCreate) {

<fieldset>
    @helper.inputText(creationForm("title"))
    @helper.textarea(creationForm("contentAbstract"))
    @helper.textarea(creationForm("body"))
    @helper.textarea(creationForm("comments"))

    </fieldset>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">
        Create Product
      </button>
</div> }


}
